html,body{
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popons',sans-serif;
}

:root{
    --text-gray: #ffffff;
    --text-light: #030303da;
    --midnight: #fad49c;
    --sky:linear-gradient(120deg, #e79b29 0%, #f1ac6b 80%);
}


a{
  text-decoration: none;
  color: #3f4954;
}

.flex-row{
    display: flex;
}

ul{
    list-style-type: none;
}

h1{
    font-family:'Trebuchet MS';
    font-size: 3.5rem;
}

h2{
    font-family:'Times New Roman', Times, serif;
    font-size: 1.6rem;
}

h3{
    font-family:Georgia,;
    font-size: 1.3rem;
}


span{
    font-family:sans-serif;
}

.container{
    margin: 0 5vw;
}

.text-gray{
    color: var(--text-gray);
}

p{
    font-family:'Segoe UI', Tahoma;
    color: var(--text-light);
}

ol{
    font-family:'Segoe UI', Tahoma;
    color: var(--text-light);
}
.nav {
    background-color: #0e0d0d;
    overflow: visible;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
  }
  
  /* Style the links inside the navigation bar */
  .nav a {
    float: right;
    color: #f2f2f2;
    text-align: left;
    padding: 20px 23px;
    text-decoration: none;
    font-size: 25px;
    position: relative;
    z-index: 0;
    }
  
  /* Change the color of links on hover */
 .nav a:hover {
  background-color: #ddd;
  color: black;
  
 }

/* Add a color to the active/current link */
 .nav a.active {
  background-color: #2ba42f;
  color: white;
 }
 .section-title{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
    word-spacing: 10px;
    font-family: Arial, Helvetica, sans-serif;
 }
 .section-line{
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
    font-style: italic;
 }
 .section-header{
    color: #144915;
 }


body{
    min-height: 100vh;
    display: grid;
    place-content: center;
    background-image:url(wallpaper.jpeg);
    
    background-blend-mode: multiply;
    background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
.container{
    width: 80vw;
    height:80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.header{
    width: 100%;
    text-align: center;
}
.header h1{
    font-size: 4em;
    text-transform: uppercase;
    color: var(--textColor);
}
.products{
    width: 100%;
    align-self: center;
    height: 70%;
    display: flex ;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 80px;

    
}
.product{
    position: relative;
    width: 300px;
    height: 100%;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
    display: flex;
    flex-wrap:  wrap;
    justify-content: space-between;
    padding: 20px 20px 40px;
    border-radius: 10px;
    transition: .3s;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    
}
.product:hover{
    transform: translateY(-15px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
.image{
    width:220px;
    height: 250px;
    display: grid;
    place-content: center;
}
.image img{
    width: 240px;
}
.namePrice{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.namePrice h3{
    font-size: 1.2rem;
    text-align: left  ; 
    text-transform: capitalize;
    color: var(--textColor);
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

li{
    padding: 5px;
}
.checked{
    color: #ff9f43;
}

.buy{
    position: absolute;
    bottom: 20px;
    right: 20px;

}
.buy button{
    padding: 10px 20px;
    border-radius: 7px;
    border:#EB5757;
   /*  background-color: var(--textColor); */
    /* color: var(--sectionBack); */
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-transform: capitalize;
    cursor: pointer;
    transition: .5s;
    
}
.buy button:hover{
    transform: scale(1.1);
}
.shop-content{
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
}
.price{
    font-size: 1rem;
    color: var(--starColor);
    text-align: center;
}
.main{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
    font-size: 20px;
}

button{
    text-align: center;
    font-size: 24px;
    color:rgb(255, 255, 255); 
    width: 100%;
    padding:15px;
    border: 0;
    outline: none; 
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.content button:hover{
    opacity: 0.5;
}
.shop-item-button{
    background-color:rgb(34, 86, 15); 
}
.shop-item-button:hover{
    background-color:rgb(65, 219, 106); 
    
}
.section-header {
    font-weight: normal;
    color:#1b4a0f;
    text-align: center;
    font-size: 2.5em;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color:#1b4a0f;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 3px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-left: 20px;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color:#1b4a0f;
}

.cart-quantity {
    width: 35%;
    color:#1b4a0f;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
    color:#1b4a0f;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color:#1b4a0f;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    background-color:rgb(13, 102, 29);
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

.btn-danger {
    color: white;
    background-color: #0d3609;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #dd802a;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}
.shop-item-image{
    height: 100px;
    width: 100px;
}

@media(max-width:1000px){
    .content{
        width: 45%;
    }
}
@media(max-width:750px){
    .content{
        width: 100%;
    }
}
footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background:rgb(57, 119, 16);
    height: auto;
    width: 100%;
    font-family: "open sans";
    padding-top: 40px;
    color: #fff;
}

.footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-container h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-container p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;

}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;

}

.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;

}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color: aqua;
}

 .footer-bottom{
    background: rgb(93, 207, 104);
    width: 100%;
    padding: 20px 0;
    text-align: center;
    text-decoration-color: #fcfcfc;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    text-decoration: none;
    color: #fff;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.footer-bottom a{
	color: #fff;
}
.footerp{
    color: white;
}